<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <httpRuntime targetFramework="4.5" relaxedUrlToFileSystemMapping="true" maxUrlLength="9999999999" requestValidationMode="2.0" maxRequestLength="999999999" />
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
    <rewrite>
      <rules>

        <!-- <rule name="Force non-WWW and SSL" enabled="true" stopProcessing="true">
                  <match url="(.*)" />
                  <conditions logicalGrouping="MatchAll">
                        <add input="{HTTPS}" pattern="off" />
                  </conditions>
                  <action type="Redirect" url="https://searchmycourse.konze.com/{R:1}" appendQueryString="true" redirectType="Permanent" />
                </rule> -->

        <rule name="AngularJS Routes" stopProcessing="false">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" appendQueryString="true" />
        </rule>

      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="409600000" maxQueryString="2048000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>