<div class="wrapper">
  <div class="container1">
    <header class="landing-header">
      <div class="landing-header__right">
        <img alt="logo" src="../../../assets/logo.png" style="width: 150px;">
      </div>
    </header>
    <hr>
    <div>
      <span style="font-family: Georgia, 'Times New Roman', Times, serif;font-size: medium;">Enter
        the email address associated with your account to begin the password reset process.</span><br>
    </div>
    <form novalidate #mainform="ngForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-group-lg">
            <label aria-label="emailaddress"><strong>Email Address</strong></label>
            <input aria-label="emailaddress_1" type="text" placeholder="you@domain.com" [(ngModel)]="username"
              name="username" data-name="username" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [required]="true"
              data-prefix="Email Address" data-type="text" class="form-control"
              (keydown.enter)="resetPassword(mainform)">
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <button role="button" aria-label="resetPassword" class="btn btn-block btn-danger" [disabled]="submitted"
            appValidation [form]="mainform" [validparent]="'form-group'" (click)="resetPassword(mainform)">Reset
            password <span *ngIf="submitted"><i class="fa fa-lg fa-sync fa-refresh"></i></span><span *ngIf="!submitted"><i
                class="fa fa-lg fa-key"></i></span></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <a aria-label="rememberpassword" [routerLink]="['/auth/login']"><strong class="text-danger">Remembered your
              password?</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>