
.invalid {
    border: 1px solid #ff0000 !important;
    box-shadow: 0 0 5px #999 !important;
  }
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }