<body *ngIf="coursedata">
  <table border="0" cellpadding="0" cellspacing="0" class="main"
    style="page-break-after: always;page-break-inside: avoid !important;">
    <tbody>
      <tr>
        <td class="gradient py-1">
          <span class="font-20 px-5 text-white"> </span>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%">
            <tbody>
              <tr>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td>
                  <table width="55%" align="left">
                    <tbody>
                      <tr>
                        <td class="bg-secondary-light rounded-lg p-4 position-relative">
                          <img class="position-absolute" style="left: 55px; top: -65px; max-width: 90px;"
                            src="assets/images/pdfimages/course-compare.png" alt="">
                          <h1 class="h1 font-weight-bold text-danger ml-5 pl-3 mb-0">COURSE <br> SEARCH REPORT</h1>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table width="40%" align="right">
                    <tbody>
                      <tr>
                        <td>
                          <!-- <img src="assets/images/pdfimages/easymigrationservices-logo.png" style="padding-right: 10px;"
                            alt=""> -->
                          <img src="{{agnetDetails.agentLogoURL}}" style="padding-right: 10px;
                            height: 125px;
                            width: 279px;
                            padding-left: 15px;" alt="">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="px-5">
            <table width="100%">
              <tbody>
                <tr>
                  <td> &nbsp; </td>
                </tr>
                <tr>
                  <td> &nbsp; </td>
                </tr>
                <tr>
                  <td> &nbsp; </td>
                </tr>
                <tr>
                  <td> &nbsp; </td>
                </tr>
                <tr>
                  <td> &nbsp; </td>
                </tr>
                <tr>
                  <td> &nbsp; </td>
                </tr>
                <tr>
                  <td> &nbsp; </td>
                </tr>
                <tr>
                  <td> &nbsp; </td>
                </tr>

                <tr>
                  <td>
                    <img src="assets/images/pdfimages/course-search-report.png" alt="">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
      </tr>
      <!-- <tr>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <td> &nbsp; </td>
      </tr> -->

      <!-- <tr>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <td> &nbsp; </td>
      </tr> -->
      <tr>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <td> &nbsp; </td>
      </tr>
      <tr class="gradient" align="center">
        <td align="center">
          <table align="center">
            <tbody>
              <tr>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td align="center">
                  <a class="text-white h4" style="font-size: 1.5rem;text-decoration: none;"
                    href="{{agnetDetails.agentWebURL}}" target="_blank">{{agnetDetails.agentOrganization}}</a>
                </td>
              </tr>
              <tr>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td align="center" class="text-white h6" style="font-size: 1rem;">
                  powered by
                </td>
              </tr>
              <tr>
                <td align="center">
                  <a class="text-white h6" style="font-size: 1rem;text-decoration: none;"
                    href="https://searchmycourse.com/" target="_blank">www.searchmycourse.com</a>
                </td>
              </tr>
              <tr>
                <td> &nbsp; </td>
              </tr>
              <tr>
                <td> &nbsp; </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" width="795" class="main">
    <tbody>
      <tr>
        <td>
          <div class="px-2">
            <div class="mt-2 card card-body shadow">
              <div class="row align-items-center">
                <div class="col-4">
                  <img style="max-height:70px; max-width: 300px;" src="./assets/univlogo.png"
                    alt="Southren cross University Logo">
                </div>
                <div class="col text-right">
                  <p class="h6">{{universitydata.name}}</p>
                  <h4 class="h5 mb-0">{{coursedata.course_title}}</h4>
                </div>
              </div>
            </div>
            <div class="mt-2">
              <div class="form-row">
                <div class="col">
                  <div class="card p-2 shadow rounded-lg h-100">
                    <div class="media">
                      <div class="mr-2 align-self-center">
                        <i class="las la-clock la-3x text-danger"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="mb-0"> Duration </h5>
                        <!-- <p class="mb-0">2 years Full-Time</p>
                        <p class="mb-0">4 years Part-Time</p> -->
                        <span *ngIf="coursedata && coursedata.course_duration_display.length > 0">
                          <span *ngFor='let durationDisplay of coursedata.course_duration_display'>
                            <p class="mb-0"> {{durationDisplay.duration}} {{durationDisplay.unit}}
                              {{durationDisplay.display}}</p>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card p-2 shadow rounded-lg h-100">
                    <div class="media">
                      <div class="mr-2 align-self-center">
                        <i class="las la-money-check-alt la-3x text-danger"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="mb-0"> Tuition Fee </h5>

                        <!-- <p class="mb-0">26800 AUD</p> -->
                        <ng-container *ngFor="let feeData of coursedata.course_tuition_fee.fees">

                          <span *ngIf="feeData.name == universitycampus">

                            <!-- <span *ngFor="let fee of feeData.value.international_student"> -->
                            <span>
                              <p class="mb-0" *ngIf="feeData.value.international_student.amount != 0">
                                {{feeData.value.international_student.amount }} {{feeData.value.currency}}
                              </p>
                              <p class="mb-0" *ngIf="feeData.value.international_student.amount == 0">Not Available</p>
                            </span>
                          </span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card p-2 shadow rounded-lg h-100">
                    <div class="media">
                      <div class="mr-2 align-self-center">
                        <i class="las la-map-marker la-3x text-danger"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="mb-0"> Location </h5>
                        <!-- <p class="mb-0">South Bank</p> -->
                        <span *ngIf='universitycampus && universitycampus.length>0'>
                          <p class="mb-0">{{universitycampus}}</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card p-2 shadow rounded-lg h-100">
                    <div class="media">
                      <div class="mr-2 align-self-center">
                        <i class="las la-calendar la-3x text-danger"></i>
                      </div>
                      <div class="media-body">
                        <h5 class="mb-0"> Intake Date </h5>
                        <span *ngIf="coursedata.course_intake.intake.length>0">
                          <span *ngFor='let intakeDate1 of coursedata.course_intake.intake'>
                            <span *ngIf="intakeDate1.name == universitycampus">
                              <span *ngFor="let intake of intakeDate1.value">
                                <p class="mb-0">{{intake.actualdate}}</p>
                              </span>

                            </span>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2">
              <div class="card">
                <div class="card-header gradient">
                  <div class="media align-items-center">
                    <i class="las la-university la-2x text-white pr-2"></i>
                    <div class="media-body">
                      <h5 class="mb-0 text-white"> About </h5>
                    </div>
                  </div>
                </div>
                <div class="card-body shadow rounded-lg">
                  <div class="media align-items-center mb-3" *ngFor="let rankings of universityrankingdata">
                    <i class="las la-university la-2x pr-2 text-info"></i>
                    <div class="media-body">
                      <h6 class="mb-0 h6"> University rank
                        <span class="text-body">#{{rankings.name}} (</span>
                        <span
                          *ngFor="let rank of rankings.ranking; let ind=index">{{(ind!=0)?', ':''}}{{rank.levelname}} :
                          {{rank.value}} </span>)
                      </h6>
                    </div>
                  </div>
                  <!-- <div class="lead font-weight-normal text-muted" *ngFor="let rankings of universityrankingdata">
                    <i class="la la-university pr-1"></i>University rank
                    <span class="text-body">#{{rankings.name}} (</span>
                    <span *ngFor="let rank of rankings.ranking; let ind=index">{{(ind!=0)?', ':''}}{{rank.levelname}} :
                      {{rank.value}} </span>)
                  </div> -->
                  <h6 class="h6 font-weight-bold border-bottom pb-2"
                    *ngIf="universitydata && universitydata.about && universitydata.about.length>0">About University
                  </h6>
                  <div class="row mb-3" *ngIf="universitydata && universitydata.about && universitydata.about.length>0">
                    <div class="col-auto">
                      {{universitydata.about}}
                    </div>

                  </div>
                  <h6 class="h6 font-weight-bold border-bottom pb-2"
                    *ngIf="coursedata && coursedata.course_overview && coursedata.course_overview.length>0">About Course
                  </h6>
                  <div class="row mb-3"
                    *ngIf="coursedata && coursedata.course_overview && coursedata.course_overview.length>0">
                    <div class="col-auto">
                      {{coursedata.course_overview}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2">
              <div class="card">
                <div class="card-header gradient">
                  <div class="media align-items-center">
                    <i class="las la-university la-2x text-white pr-2"></i>
                    <div class="media-body">
                      <h5 class="mb-0 text-white"> Career Outcome </h5>
                    </div>
                  </div>
                </div>
                <div class="card-body shadow rounded-lg">
                  <div class="row mb-3">
                    <div class="col-auto">
                      <span *ngIf="coursedata.course_career_outcome.length>0">
                        <ul>
                          <li *ngFor="let outcome of coursedata.course_career_outcome">
                            {{outcome}}
                          </li>
                        </ul>
                      </span>
                    </div>
                  </div>
                  <h6 class="h6 font-weight-bold border-bottom pb-2" *ngIf="coursedata.course_discipline.length>0">
                    Course Discipline</h6>
                  <div class="row">
                    <div class="col-auto">
                      <span *ngIf="coursedata.course_discipline.length>0">
                        <ul>
                          <li *ngFor="let discipline of coursedata.course_discipline">
                            {{discipline}}
                          </li>
                        </ul>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2">
              <div class="card">
                <div class="card-header gradient">
                  <div class="media align-items-center">
                    <i class="las la-key la-2x text-white pr-2"></i>
                    <div class="media-body">
                      <h5 class="mb-0 text-white"> Key facts </h5>
                    </div>
                  </div>
                </div>
                <div class="card-body shadow rounded-lg">
                  <h6 class="h6 font-weight-bold pb-2 mb-0">Detailed Programme Facts</h6>
                  <span *ngIf="coursedata.course_intake.intake.length>0">
                    <ng-container *ngFor="let intakeDates of coursedata.course_intake.intake">
                      <div class="border-bottom" *ngIf="intakeDates.name == universitycampus">
                        <p class="mb-2">{{intakeDates.name}}</p>
                        <ng-container *ngIf="intakeDates.name == universitycampus">
                          <div class="row mb-2">
                            <div class="col-auto mb-3" *ngFor="let intakeValue of intakeDates.value">
                              <div class="card p-3 rounded-lg shadow">
                                <p class="mb-0">Starting in <b> {{intakeValue.actualdate}}</b>
                                </p>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </ng-container>
                  </span>


                  <div class="form-row my-3">
                    <div class="col" *ngIf='coursedata.program_code.length > 0'>
                      <div class="card p-2 shadow rounded-lg h-100">
                        <p class="mb-0 font-weight-bold"> Program Code </p>
                        <span *ngIf='coursedata.program_code.length > 0'>
                          <p class="mb-0">{{coursedata.program_code}}</p>
                        </span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card p-2 shadow rounded-lg h-100">
                        <p class="mb-0 font-weight-bold"> Cricos Code </p>
                        <span *ngFor='let cricos of coursedata.course_campus_location'>
                          <span *ngIf='cricos.name == universitycampus'>
                            <p class="mb-0">{{cricos.code}}</p>
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card p-2 shadow rounded-lg h-100">
                        <p class="mb-0 font-weight-bold"> Languages </p>
                        <p class="mb-0">English</p>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card p-2 shadow rounded-lg h-100">
                        <p class="mb-0 font-weight-bold">Delivery mode </p>
                        <p class="mb-0">{{coursedata.course_study_mode}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-auto">
                      <h6 class="h6 font-weight-bold pb-2 mb-0">Programme intensity</h6>
                      <span *ngIf="coursedata && coursedata.course_duration_display.length>0">
                        <ul class="pl-3 mb-0">
                          <ng-container *ngFor="let durationDisplay of coursedata.course_duration_display">
                            <li>{{durationDisplay.display}} duration - <abbr>{{durationDisplay.duration}}
                                {{durationDisplay.unit}}</abbr></li>
                          </ng-container>
                        </ul>
                      </span>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="mt-2">
              <div class="card">
                <div class="card-header gradient">
                  <div class="media align-items-center">
                    <i class="las la-file-alt la-2x text-white pr-2"></i>
                    <div class="media-body">
                      <h5 class="mb-0 text-white"> Admission requirements </h5>
                    </div>
                  </div>
                </div>
                <div class="card-body shadow rounded-lg">
                  <h6 class="h6 font-weight-bold pb-2 mb-0">English Language Requirements</h6>
                  <p class="mb-2">You only need to take one of these language tests:</p>
                  <div class="form-row my-3">

                    <div class="col-md-4 mb-3"
                      *ngFor="let englishreq of coursedata.course_admission_requirement.english; let OuterIndex = index">
                      <div class="card p-2 shadow rounded-lg h-100">
                        <p class="font-weight-bold mb-0">{{englishreq.name | uppercase}}</p>
                        <div class="ScoreBar" data-min="englishreq.min" data-max="englishreq.max" data-format="0">
                          <div class="Background">
                            <div class="Incrementation Min">{{englishreq.min}}</div>
                            <div class="Incrementation Max">{{englishreq.max}}</div>
                          </div>
                          <div class="ScoreBackground BarIndex0" style="width: 40%;">
                            <div class="Score js-Score" data-value="englishreq.require">
                              {{englishreq.require}} </div>
                          </div>
                        </div>
                        <p class="mb-0" *ngIf="englishreq.description!=''">{{englishreq.description}}</p>
                      </div>
                    </div>
                  </div>
                  <h6 class="h6 font-weight-bold border-bottom pb-2"
                    *ngIf="coursedata.course_admission_requirement.academic.length>0">Academic Requirements</h6>
                  <div class="row mb-3">
                    <div class="col-auto">
                      <span *ngIf="coursedata.course_admission_requirement.academic.length>0">
                        <ul>
                          <li *ngFor="let academic of coursedata.course_admission_requirement.academic">
                            {{academic}}
                          </li>
                        </ul>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-2">
              <div class="card">
                <div class="card-header gradient">
                  <div class="media align-items-center">
                    <i class="las la-file-alt la-2x text-white pr-2"></i>
                    <div class="media-body">
                      <h5 class="mb-0 text-white"> Majors Minors </h5>
                    </div>
                  </div>
                </div>
                <div class="card-body shadow rounded-lg">
                  <h6 class="h6 font-weight-bold border-bottom pb-2">Course Majors</h6>
                  <div class="form-row my-3"
                    *ngIf="coursedata.course_outline.majors && coursedata.course_outline.majors.length>0">

                    <div class="col-md-4 mb-3" *ngFor="let majors of coursedata.course_outline.majors">
                      <div class="card p-2 shadow rounded-lg h-100">
                        {{majors}}
                      </div>
                    </div>
                  </div>
                  <div class="form-row my-3"
                    *ngIf="!coursedata.course_outline.majors || coursedata.course_outline.majors.length===0">

                    Majors not available!
                  </div>
                  <h6 class="h6 font-weight-bold border-bottom pb-2">Course Minors</h6>
                  <div class="form-row my-3"
                    *ngIf="coursedata.course_outline.minors && coursedata.course_outline.minors.length>0">

                    <div class="col-md-4 mb-3" *ngFor="let minors of coursedata.course_outline.minors">
                      <div class="card p-2 shadow rounded-lg h-100">
                        {{minors}}
                      </div>
                    </div>
                  </div>
                  <div class="form-row my-3"
                    *ngIf="!coursedata.course_outline.minors || coursedata.course_outline.minors.length===0">

                    Minors not available!
                  </div>
                </div>
              </div>
            </div>

          </div>
        </td>
      </tr>

    </tbody>
  </table>
</body>