<div class="m-1">
  <div class="row">
    <label data-type="textbox" class="form-control draggable" appDrag><i class="fa fa-text-width"
        aria-hidden="true"></i> Text
      box</label>
  </div>
  <!-- <div class="row">
    <label data-type="groupbox" class="form-control draggable" appDrag><i class="fa fa-text-width"
        aria-hidden="true"></i> Group Text
      box</label>
  </div> -->
  <div class="row">
    <label data-type="radiobutton" class="form-control draggable" appDrag><i class="fa fa-circle"
        aria-hidden="true"></i> Radio
      button</label>
  </div>
  <div class="row">
    <label data-type="checkbox" class="form-control draggable" appDrag><i class="fa fa-square" aria-hidden="true"></i>
      Checkbox</label>
  </div>
  <div class="row">
    <label data-type="date" class="form-control draggable" appDrag><i class="fa fa-calendar" aria-hidden="true"></i>
      Date</label>
  </div>
  <div class="row">
    <label data-type="label" class="form-control draggable" appDrag><i class="fa fa-tag" aria-hidden="true"></i>
      Label</label>
  </div>
  <!-- <div class="row">
    <label data-type="table" class="form-control draggable" appDrag><i class="fa fa-tag" aria-hidden="true"></i>
      Table</label>
  </div> -->
  <!-- <div class="row">
    <label data-type="datebox" class="form-control draggable" appDrag><i class="fa fa-calendar"
        aria-hidden="true"></i> Group box
      Date</label>
  </div> -->
</div>